@import "tailwindcss";

@theme {
  /* Palet Warna Kustom */
  --color-sekolah-primary: #0D47A1;
  --color-sekolah-secondary: #1976D2;
  --color-sekolah-accent: #FFC107;
  --color-sekolah-light: #F5F5F5;

  /* Font Kustom (dari layout.tsx) */
  --font-sans: var(--font-lato);
  --font-display: var(--font-poppins);
}